
<app-searchbar></app-searchbar>

<mat-divider></mat-divider>

<table>

    <tr>
        <th>image</th>
        <th>name</th>
        <th>popularity</th>
        <th>followers</th>
    </tr>
  
    <tr *ngFor="let artist of data.artists">
        <td>
            {{ artist.images[0].url }}
        </td>
        <td>
            {{ artist.name }}
        </td>
        <td>
            {{ artist.popularity }}
        </td>
        <td>
            {{ artist.followers }}
        </td>
    </tr>
  
</table>
