
.mat-grid-list {
    margin-top: 1.34375em;
    .mat-grid-tile {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: grayscale(80%);
        .mat-button {
            display: none;
            z-index: 1;
            width: 50%;
            height: 100%;
            .mat-icon {
                font-size: 48px;
                width: 48px;
                height: 48px;
            }
        }
        &:hover .mat-button {
            display: inline-block;
        }
        h1 {
            position: absolute;
            display: table;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            margin: auto;
            text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
            text-align: center;
        }
    }
}
