<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated spotify_Requetor -->
      <package
            uri="http://www.example.org/spotify_Requetor"
            class="spotify_Requetor.Spotify_RequetorPackage"
            genModel="model/spotify_Requetor.genmodel"/>
   </extension>

</plugin>
