
<app-searchbar [initValue]="'show playlist '"></app-searchbar>

<mat-divider></mat-divider>

<mat-card-header *ngIf="data != null">
    <img mat-card-avatar [attr.src]="data.image"/>
    <mat-card-title>
        {{ data.name }} {{ data.followers }}
    </mat-card-title>
    <mat-card-subtitle>
        {{ data.description }}
    </mat-card-subtitle>
</mat-card-header>

<table class="mat-table" *ngIf="data != null">

    <tr class="mat-row table-header"> 
        <th class="mat-header-cell">Name</th>
        <th class="mat-header-cell">Popularity</th>
        <th class="mat-header-cell">Duration (ms)</th>
    </tr>

    <tr class="mat-row" *ngFor="let track of data.tracks">
        <td class="mat-cell">
            {{ track.name }}
        </td>
        <td class="mat-cell">
            {{ track.popularity }}
        </td>
        <td class="mat-cell">
            {{ track.duration_ms }}
        </td>
    </tr>
    
</table>
