
<app-searchbar></app-searchbar>

<mat-divider></mat-divider>

<table>

    <tr>
        <th>image</th>
        <th>name</th>
        <th>description</th>
        <th>followers.total</th>
    </tr>

    <tr *ngFor="let playlist of data.playlists">
        <td>
            {{ playlist.images[0].url }}
        </td>
        <td>
            {{ playlist.name }}
        </td>
        <td>
            {{ playlist.description }}
        </td>
        <td>
            {{ playlist.followers.total }}
        </td>
    </tr>
    
</table>
