
<app-searchbar></app-searchbar>

<mat-divider></mat-divider>

<table class="mat-table">

    <tr class="mat-row">
        <th class="mat-header-cell">image</th>
        <th class="mat-header-cell">name</th>
        <th class="mat-header-cell">description</th>
        <th class="mat-header-cell">followers.total</th>
    </tr>

    <tr class="mat-row" *ngFor="let playlist of data.playlists">
        <td class="mat-cell">
            {{ playlist.images[0].url }}
        </td>
        <td class="mat-cell">
            {{ playlist.name }}
        </td>
        <td class="mat-cell">
            {{ playlist.description }}
        </td>
        <td class="mat-cell">
            {{ playlist.followers.total }}
        </td>
    </tr>
    
</table>
