/.SpotifyRequetorIdeModule.java._trace
/.SpotifyRequetorIdeModule.xtendbin
/.SpotifyRequetorIdeSetup.java._trace
/.SpotifyRequetorIdeSetup.xtendbin
/SpotifyRequetorIdeModule.java
/SpotifyRequetorIdeSetup.java
