
<app-searchbar [initValue]="'search album '"></app-searchbar>

<mat-divider></mat-divider>

<table class="mat-table">

    <tr class="mat-row table-header"> 
        <th class="mat-header-cell">Image</th>
        <th class="mat-header-cell">Name</th>
        <th class="mat-header-cell">Popularity</th>
        <th class="mat-header-cell">Total Tracks</th>
        <th class="mat-header-cell">Release Date</th>
    </tr>
  
    <tr class="mat-row" *ngFor="let album of data.albums">
        <td class="mat-cell"> 
            <img src="{{ album.image }}" class="mat-card-avatar">
        </td>
        <td class="mat-cell">
            {{ album.name }}
        </td>
        <td class="mat-cell">
            {{ album.popularity }}
        </td>
        <td class="mat-cell">
            {{ album.tracks_total }}
        </td>
        <td class="mat-cell">
            {{ album.release_date }}
        </td>
    </tr>

</table>
