
.mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/img/SpotifyReq_background.png");
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .logo {
        height: calc(100% - 10px);
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            filter: invert(75%);
        }
    }
    .token {

        float: right;
        width: 50%;
    
    
        .linkToken {
            background-color: green;
            color: white;
            padding: 10px;
            border-radius: 10px;
            font-size: 15px;
            margin-right: 30px;
        }
        
    
        .formToken {
            width: 50%;
        }
        
    }
    
    .token a {
        text-decoration:none;
    }
}

.page-container {
    margin: 20px;
}
