
<app-searchbar></app-searchbar>
<mat-divider></mat-divider>

<mat-card-header>
    <img mat-card-avatar [attr.src]="data.images[0].url" alt="Description" />
    <mat-card-title>
        {{ data.popularity }} {{ data.name }}
    </mat-card-title>
    <mat-card-subtitle>
        {{ data.release_date }} {{ data.release_date_precision }}
    </mat-card-subtitle>
</mat-card-header>

<table class="mat-table">

    <tr class="mat-row">
        <th class="mat-header-cell">name</th>
        <th class="mat-header-cell">track_number</th>
        <th class="mat-header-cell">duration_ms</th>
    </tr>
  
    <tr class="mat-row" *ngFor="let track of data.tracks.items">
        <td class="mat-cell">
            {{ track.name }}
        </td>
        <td class="mat-cell">
            {{ track.track_number }}
        </td>
        <td class="mat-cell">
            {{ track.duration_ms }}
        </td>
    </tr>
  
</table>
