
<app-searchbar></app-searchbar>

<mat-divider></mat-divider>

<mat-card-header>
    <img mat-card-avatar [attr.src]="data.images[0].url" alt="Description" />
    <mat-card-title>
        {{ data.popularity }} {{ data.name }}
    </mat-card-title>
    <mat-card-subtitle>
        {{ data.release_date }} {{ data.release_date_precision }}
    </mat-card-subtitle>
</mat-card-header>

<table>
  
    <tr *ngFor="let track of data.tracks.items">
        <td>
            {{ track.name }}
        </td>
        <td>
            {{ track.track_number }}
        </td>
        <td>
            {{ track.duration_ms }}
        </td>
    </tr>
  
</table>
